body {
    .ui-messages {
        font-size: $fontSize;
        .ui-messages-icon {
            .ui-messages-icon {
                font-size: 2em;
            }
        }

        &.ui-messages-info {
            background-color: $infoMessageBgColor;
            border-color: $infoMessageBorderColor;
            color: $infoMessageTextColor;
            padding: 12px 20px;

            .ui-messages-icon {
                color: darken($infoMessageBgColor, 30%);
            }

            .ui-messages-close {
                .pi {
                    color:  $infoMessageTextColor;
                }
            }
        }

        &.ui-messages-warn {
            background-color: $warnMessageBgColor;
            border-color: $warnMessageBorderColor;
            color: $warnMessageTextColor;
            padding: 12px 20px;

            .ui-messages-icon {
                color: darken($warnMessageBgColor, 30%);
            }

            .ui-messages-close {
                .pi {
                    color:  $warnMessageTextColor;
                }
            }
        }

        &.ui-messages-error {
            background-color: $errorMessageBgColor;
            border-color: $errorMessageBorderColor;
            color: $errorMessageTextColor;
            padding: 12px 20px;

            .ui-messages-icon {
                color: darken($errorMessageBgColor, 30%);
            }

            .ui-messages-close {
                .pi {
                    color:  $errorMessageTextColor;
                }
            }
        }

        &.ui-messages-success {
            background-color: $successMessageBgColor;
            border-color: $successMessageBorderColor;
            color: $successMessageTextColor;
            padding: 12px 20px;

            .ui-messages-icon {
                color: darken($successMessageBgColor, 20%);
            }

            .ui-messages-close {
                .pi {
                    color:  $successMessageTextColor;
                }
            }
        }

        .ui-messages-close {
            @include opacity(.2);
            font-size: 1.5em;

            &:hover {
                @include opacity(.5);
            }
        }
    }

    .ui-message {

        &.ui-message-info {
            background-color: $infoMessageBgColor;
            border-color: $infoMessageBgColor;
            color: $infoMessageTextColor;
        }

        &.ui-message-warn {
            background-color: $warnMessageBgColor;
            border-color: $warnMessageBgColor;
            color: $warnMessageTextColor;
        }

        &.ui-message-error {
            background-color: $errorMessageBgColor;
            border-color: $errorMessageBgColor;
            color: $errorMessageTextColor;
        }

        &.ui-message-success {
            background-color: $successMessageBgColor;
            border-color: $successMessageBgColor;
            color: $successMessageTextColor;
        }

        .ui-message-close {
            text-decoration: none;
            color: #fff;
            right: .25em;
        }
    }

    .ui-growl {
        top: 85px;
        z-index: 9999 !important;

        .ui-growl-item-container {
            @include opacity(.95);
            border: 1px solid;

            .ui-growl-message {
                margin-left: 4em;
            }

            .ui-growl-image {
                font-size: 2.769em;
            }

            .ui-growl-icon-close {
                @include opacity(.2);

                &:hover {
                    @include opacity(.5);
                }
            }

            &.ui-growl-message-info {
                background-color: $infoMessageBgColor;
                border-color: $infoMessageBorderColor;
                color: $infoMessageTextColor;

                .ui-growl-image {
                    color: darken($infoMessageBgColor, 30%);
                }
            }

            &.ui-growl-message-warn {
                background-color: $warnMessageBgColor;
                border-color: $warnMessageBorderColor;
                color: $warnMessageTextColor;

                .ui-growl-image {
                    color: darken($warnMessageBgColor, 30%);
                }
            }

            &.ui-growl-message-error {
                background-color: $errorMessageBgColor;
                border-color: $errorMessageBorderColor;
                color: $errorMessageTextColor;

                .ui-growl-image {
                    color: darken($errorMessageBgColor, 30%);
                }
            }

            &.ui-growl-message-success {
                background-color: $successMessageBgColor;
                border-color: $successMessageBorderColor;
                color: $successMessageTextColor;

                .ui-growl-image {
                    color: darken($successMessageBgColor, 20%);
                }
            }
        }
    }

    .ui-toast {
        .ui-toast-message {
            @include overlay-shadow();

            &.ui-toast-message-info {
                background-color: $infoMessageBgColor;
                border: 0 none;
                color: $infoMessageTextColor;

                .ui-toast-close-icon {
                    color: $infoMessageTextColor;
                }

                .ui-toast-icon {
                    color: darken($infoMessageBgColor, 30%);
                }
            }

            &.ui-toast-message-success {
                background-color: $successMessageBgColor;
                border: 0 none;
                color: $successMessageTextColor;

                .ui-toast-close-icon {
                    color: $successMessageTextColor;
                }

                .ui-toast-icon {
                    color: darken($successMessageBgColor, 30%);
                }
            }

            &.ui-toast-message-warn {
                background-color: $warnMessageBgColor;
                border: 0 none;
                color: $warnMessageTextColor;

                .ui-toast-close-icon {
                    color: $warnMessageTextColor;
                }

                .ui-toast-icon {
                    color: darken($warnMessageBgColor, 30%);
                }
            }

            &.ui-toast-message-error {
                background-color: $errorMessageBgColor;
                border: 0 none;
                color: $errorMessageTextColor;

                .ui-toast-close-icon {
                    color: $errorMessageTextColor;
                }

                .ui-toast-icon {
                    color: darken($errorMessageBgColor, 30%);
                }
            }
        }
    }
}
