@import '../variables/_common-v4';

/* Icons */
$iconFontSize:14px;
$iconWidth:16px;

/* Error */
$errorColor:#a94442;
$disabledColor:#eeeeee;

/* Headers */
$headerPadding:10px 15px;

/* Contents */
$contentPadding:15px;
$contentBorderColor:#dddddd;
$contentBgColor:#ffffff;
$contentBgColorOdd: #f5f5f5;
$contentLineHeight:1.43;

/* Forms */
$inputBgColor:#ffffff;
$inputPadding:6px 12px;
$inputBorderColor:#cccccc;
$inputHoverBorderColor:#cccccc;
$inputTextColor:#495057;

//groups
$inputGroupBorderColor:#cccccc;
$inputGroupBgColor:#ffffff;
$inputGroupTextColor:$textColor;
$inputGroupIconColor:$textSecondaryColor;
$inputGroupAddonMinWidth:2*$fontSize;
$checkboxWidth:20px;
$checkboxHeight:20px;

/* Buttons */
$buttonTextColor:#ffffff;
$toggleButtonBgColor:#ffffff;
$toggleButtonBorderColor:#cccccc;
$toggleButtonHoverBgColor:#e6e6e6;
$toggleButtonHoverBorderColor:#adadad;

/* List Items */
$listPadding:6px 0;
$listItemPadding:8px 20px;
$listItemHoverBgColor:#f7f7f9;
$listItemHoverTextColor:#1d1e1f;

/* Messages */
$infoMessageBgColor:#d9edf7;
$infoMessageBorderColor:#bcdff1;
$infoMessageTextColor:#31708f;
$warnMessageBgColor:#fcf8e3;
$warnMessageBorderColor:#faf2cc;
$warnMessageTextColor:#8a6d3b;
$errorMessageBgColor:#f2dede;
$errorMessageBorderColor:#ebcccc;
$errorMessageTextColor:#a94442;
$fatalMessageBgColor:#999999;
$fatalMessageBorderColor:#797979;
$fatalMessageTextColor:#ffffff;
$successMessageBgColor:#dff0d8;
$successMessageBorderColor:#d6e9c6;
$successMessageTextColor:#3c763d;

/* Overlays */
$overlayBorderColor:#cccccc;

/* Data */
$datatableCellBorderColor:#dddddd;
$datatableCellPadding:8px;
$paginatorBgColor:#ffffff;

/* Panel */
$panelContentBorderColor:#DCE1E7;
