<div class="profile" [ngClass]="{'profile-expanded':active}" *ngIf="(user$ | async) as user">
    <a href="#" (click)="onClick($event)">
        <img class="profile-image" src="assets/layout/images/iconfinder_user_1902268.png" />
        <span class="profile-name">{{ (user?.nome.length>20)? (user?.nome | slice:0:20)+'...':(user?.nome) }}</span>
        <i class="fa fa-fw fa-caret-down"></i>
        <span class="profile-role">{{ (user?.email.length>30)? (user?.email | slice:0:10)+'...'+(user?.email | slice:(user?.email.length-17):(user?.email.length)):(user?.email) }}</span>
    </a>
</div>

<ng-template  #loggedOut>
    <div class="profile" [ngClass]="{'profile-expanded':active}" >
    Por favor, efetue o <a  routerLink="/login">login</a>
    </div>
</ng-template>


<ul id="profile-menu" class="layout-menu" [@menu]="active ? 'visible' : 'hidden'">
    <!--<li role="menuitem">
        <a href="#" [attr.tabindex]="!active ? '-1' : null">
            <i class="fa fa-fw fa-user"></i>
            <span>Profile</span>
        </a>
        <div class="layout-menu-tooltip">
            <div class="layout-menu-tooltip-arrow"></div>
            <div class="layout-menu-tooltip-text">Profile</div>
        </div>
    </li>
    <li role="menuitem">
        <a href="#" [attr.tabindex]="!active ? '-1' : null">
            <i class="fa fa-fw fa-user-secret"></i>
            <span>Privacy</span>
        </a>
        <div class="layout-menu-tooltip">
            <div class="layout-menu-tooltip-arrow"></div>
            <div class="layout-menu-tooltip-text">Privacy</div>
        </div>
    </li>
    <li role="menuitem">
        <a href="#" [attr.tabindex]="!active ? '-1' : null">
            <i class="fa fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div class="layout-menu-tooltip">
            <div class="layout-menu-tooltip-arrow"></div>
            <div class="layout-menu-tooltip-text">Settings</div>
        </div>
    </li>-->
    <li role="menuitem">
        <a  href="#" [attr.tabindex]="!active ? '-1' : null" (click)="logout()">
            <i class="fa fa-fw fa-sign-out"></i>
            <span>Logout</span>
        </a>
        <div class="layout-menu-tooltip">
            <div class="layout-menu-tooltip-arrow"></div>
            <div class="layout-menu-tooltip-text">Logout</div>
        </div>
    </li>
</ul>