
.image-top{
    padding: 15px;
    height: 80%;
    width: 100%;
    padding-bottom: 0px;
  
}

.image-top-container{
    height: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}


.image-bottom{
  padding: 15px;
  height: 100%;
  width: 80%;
}

.image-bottom-container{
  height: 80px;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}




.login-page {
  max-width: 360px;
  width: 100%;
  padding: 8% 0 0;
  margin: auto;

}
.vmessage{
  text-align: right !important;
  color: #00a33e;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 15px 0px 15px;
  padding: 20px;
  text-align: center;
 
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 12px;
  height: 55px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00a33e;
  background: linear-gradient(180deg, #00a33e 0%, #008e00 100%);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 12px;
  height: 55px;
  font-size: 25px;
  font-weight: 600;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: underline;
}
.form .register-form {
  display: none;
}


.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
 /* background: #76b852;  fallback for old browsers 
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


.form-login{
  border-radius: 12px;
}

.carimbo{
  margin-top: 20px; 
}

.ng-valid[required]:not(p-calendar) , .ng-valid.required:not(p-calendar) {
  border-left: 5px solid #42A948 !important; /* green */
}

.ng-invalid:not(form):not(p-calendar)  {
  border-left: 5px solid #a94442  !important; /* red */
}

.ng-invalid:not(form) .ui-widget {
  border-left: 5px solid #a94442  !important; /* red */
}

.ng-valid[required] .ui-widget, .ng-valid .ui-widget:not([class*="ui-dropdown"])  {
  border-left: 5px solid #42A948 !important; /* green */
}
