<div class="login-page">

    <div class="image-top-container">
        <img src="assets/layout/images/logo-sistema.png" class="image-top">

    </div>
    
    <div class="form">
        
        
            
        <!-- <form [formGroup]="registerForm" class="register-form">

            <input formControlName="userName" type="text" placeholder="Nome" />
            <input formControlName="password" type="password" placeholder="Senha" />
            <input formControlName="email" type="text" placeholder="e-mail" />
            <button>create</button>
            <p class="message">Already registered? <a (click)="eventoClick($event)" href="#">Sign In</a></p>
        </form> -->
        

        <form class="form-login" [formGroup]="loginForm" (submit)="login()">
            <cjf-shared-vmessage  text="*campos obrigatórios"></cjf-shared-vmessage>
            <div class="form-group">
                
                <!-- <cjf-shared-vmessage *ngIf="loginForm.get('userName').errors?.required" text="Usuário é obrigatório!"></cjf-shared-vmessage> -->
                <input #userNameInput formControlName="userName" type="text" placeholder="Usuário*" />
            </div>
            <div class="form-group">
               
                <!-- <cjf-shared-vmessage *ngIf="loginForm.get('password').errors?.required" text="Senha é obrigatório!"></cjf-shared-vmessage> -->
                <input formControlName="password" type="password" placeholder="Senha*" />
            </div>
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">login</button>
            <p class="message"> <a [routerLink]="['signup']" >Registre-se agora</a></p>
            
 
        </form>
        
        <cjf-shared-carimbo></cjf-shared-carimbo>
        
    </div>
    <div class="image-bottom-container">
        <img src="assets/layout/images/logo-cjf-top.png" class="image-bottom">

    </div>

    
    

    


</div>



