.header {
    height: 64px;
    background-color: #273957;
    top: 0px;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 100;
    width: 100%;

    -moz-transition:    all .3s;
    -o-transition:      all .3s;
    -webkit-transition: all .3s;
    transition:         all .3s;

}

.header-sticky{
    top: -114px !important;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.background-img{
    background:  url("../../../assets/layout/images/bg-menu-novo.png") repeat-x  ;
    height: 60px;
    width: 100%;
    z-index: 101;
}

.sis-logo-container{
    height: 60px;
    text-align: center;

}


.jf-logo-container{
  height: 60px;
  width: 100%;
  text-align: left;
  margin-left: 20px;

}

@media (max-width: 1024px) {
    .hidden-lgg-down {
      display: none !important;
    }
  }

  .divisor-img{
    height: 4px;
    background-color: #f0dd00;
    z-index: 100;
    width: 100%;
  }