<div id="header" class="clearfix header sticky animated fadeInDown" [class.header-sticky] = "sticky">
    <div class="background-img">
        <div class="ui-g">

                <div class=" hidden-lgg-down ui-lg-2">
                    <div class="jf-logo-container">
                        <img src="assets/layout/images/logo-cjf-top.png" class="jf-logo">
                
                    </div>
                </div>
                <div class="ui-g-12  ui-lg-8 sis-logo-container">
                        <img src="assets/layout/images/logo-sistema.png" class="sis-logo">


                </div>
                <div class=" hidden-lgg-down ui-g-2 ui-lg-2"></div>
                

        </div>

    </div>
    <div class="divisor-img"></div>

</div>