<div class="layout-wrapper" (click)="onLayoutClick()" [ngClass]="{'menu-layout-static': !isOverlay(),
                'menu-layout-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'menu-layout-horizontal': isHorizontal(),
                'menu-layout-slim': isSlim(),
                'layout-menu-static-inactive': staticMenuDesktopInactive,
                'layout-menu-static-active': staticMenuMobileActive}">


    <app-topbar ></app-topbar>



    <cjf-shared-loader></cjf-shared-loader>




    <div class="layout-menu-container" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)" [class.layout-menu-container-sticky] = "sticky">
        <p-scrollPanel #layoutMenuScroller [style]="{height: '100%' }">
            <div class="menu-scroll-content">

                <cjf-inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></cjf-inline-profile>
                <app-menu [reset]="resetMenu"></app-menu>
            </div>
        </p-scrollPanel>
    </div>

    <div class="layout-main">
        <app-notifications></app-notifications>
        <cjf-shared-environment [env]=env></cjf-shared-environment>
        
        <router-outlet></router-outlet>


    </div>

    <div class="layout-mask"></div>

    <!-- <app-config></app-config> -->

    <cjf-shared-footer [infoBuild]=infoBuild></cjf-shared-footer>







</div>