<div class="layout-wrapper menu-layout-static layout-menu-static-inactive">
    <cjf-shared-loader></cjf-shared-loader>
    <cjf-shared-header></cjf-shared-header>
    <div class="layout-main">
        <app-notifications ></app-notifications>
        <router-outlet></router-outlet>
    </div>
    <cjf-footer></cjf-footer>
</div>