@import '../variables/_common-v4';

$menuHoverBgColor:#f4f4f4;
$bodyBgColor:#EEF2F6;
$contentBgColorOdd: #cccccc;

$paleta1: #65bb45;
$paleta2: #1ca34c;
$paleta3: #29b4e7;
$paleta4: #1aa4de;
$paleta5: #0b71b9;
$paleta6: #4f409a;
$paleta7: #ba2d92;
$paleta8: #ed2056;
$paleta9: #f0473b;
$paleta10: #fdb817;

$paleta1-clara: #b8d439;
$paleta2-clara: #86c144;
$paleta3-clara: #8dccb6;
$paleta4-clara: #5bc4f1;
$paleta5-clara: #168ccc;
$paleta6-clara: #6d62ab;
$paleta7-clara: #e65aa1;
$paleta8-clara: #ef5575;
$paleta9-clara: #faa030;
$paleta10-clara: #fee224;