$topbarLeftGradientStartBgColor:#343A40;
$topbarLeftGradientEndBgColor:#424A51;
$topbarRightGradientStartBgColor:#2e2e2e;
$topbarRightGradientEndBgColor:#2e2e2e;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor: #6C757D;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#343A40;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#B5BABE;
$darkMenuMenuitemActiveBgColor:#282b30;


@import '../../sass/layout-v4/_layout';
