.logout-image{
    width: 36px;
    height: 36px;
    background: url("../../../assets/layout/images/icon-logout.png") 0 0;
    
}

.topbar-Logout{
    display: block;
    float: right;
    color: #ffffff;
    margin-top: 8px;
}

.topbar-login{
    margin-right: 0px !important;
}

.header {
    height: 64px;
    background-color: #273957;
    top: 0px;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 100;
    width: 100%;

    -moz-transition:    all .3s;
    -o-transition:      all .3s;
    -webkit-transition: all .3s;
    transition:         all .3s;

}


.background-img{
    background:  url("../../../assets/layout/images/bg-menu-novo.png") repeat-x  ;
    height: 60px;
    width: 100%;
    z-index: 101;
}

.sis-logo-container{
    height: 60px;
    text-align: center;

}


.jf-logo-container{
  height: 60px;
  width: 100%;
  text-align: left;
  

}

@media (max-width: 1024px) {
    .hidden-lgg-down {
      display: none !important;
    }
  }

  .profile-item{
      margin-top: 10px;
  }
  .logout-item{
      margin-right: 15px;
  }

  #menu-button{
    margin-top: 13px;
  }

  .divisor-img{
    height: 4px;
    background-color: #f0dd00;
    z-index: 100;
    width: 100%;
  }