<div class="topbar clearfix">
    <div class="topbar-left">
        <img src="assets/layout/images/logo.png" class="topbar-logo" />
    </div>

    <div class="topbar-right">
        <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)"
           [ngClass]="{'menu-button-rotate': app.rotateMenuButton}">
            <i class="fa fa-angle-left"></i>
       </a>

        <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="topbar-items fadeInDown" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}" *ngIf="(user$ | async) as user">

            <li #profile1 class="profile-item" *ngIf="app.profileMode==='top'||app.isHorizontal()"
                        [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">

                        

                        <a href="#" (click)="app.onTopbarItemClick($event,profile)" >
                            <img class="profile-image " src="assets/layout/images/perfil.png" />
                            <span class="topbar-item-name">{{user.nome}}</span>
                            <i class="fa fa-fw fa-caret-down" style="color:#ffffff;"></i>
                            <span class="topbar-item-role">{{user.email}}</span>


                        </a>

                        <ul class="layout-menu fadeInDown">


                            <li role="menuitem">
                                <a href="#" (click)="logout()">
                                    <i class="fa fa-fw fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
        
        </ul>
    </div>
</div>


<div id="header" class="clearfix header sticky animated fadeInDown" >
    <div class="background-img">
        <div class="ui-g">
            <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)"
                    [ngClass]="{'menu-button-rotate': app.rotateMenuButton}">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
                    <i class="fa fa-bars"></i>
                </a>

            <div class=" hidden-lgg-down ui-lg-4">
                <div class="jf-logo-container">
                    <img src="assets/layout/images/logo-cjf-top.png" class="jf-logo">

                </div>
            </div>

       

            <div class="ui-g-12  ui-lg-4 sis-logo-container">
                <img src="assets/layout/images/logo-sistema.png" class="sis-logo">


            </div>
            <div class="ui-lg-4 hidden-lgg-down">
                
                <ul class="topbar-items fadeInDown" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}"
                    *ngIf="(user$ | async) as user">
                    <li #profile class="profile-item logout-item" *ngIf="app.profileMode==='top'||app.isHorizontal()"
                        [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">

                        <a href="#"  (click)="logout()">
                            <img class="profile-image logout-image" src="assets/layout/images/img_trans.gif" />
                            <span class="topbar-Logout">Logout</span>

                        </a>
                    </li>

                
                    <li #profile class="profile-item topbar-login" *ngIf="app.profileMode==='top'||app.isHorizontal()"
                        [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">

                        <a href="#" (click)="app.onTopbarItemClick($event,profile)">
                            <img class="profile-image " src="assets/layout/images/perfil.png" />
                            <span class="topbar-item-name">{{user.nome}}</span>
                            <i class="fa fa-fw fa-caret-down" style="color:#ffffff;"></i>
                            <span class="topbar-item-role">{{user.email}}</span>


                        </a>

                        <ul class="layout-menu fadeInDown">


                            <li role="menuitem">
                                <a href="#" (click)="logout()">
                                    <i class="fa fa-fw fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    

                </ul>
            </div>

        </div>

    </div>
    <div class="divisor-img"></div>

</div>