<form [formGroup]="signupForm" class="form mt-4 signupForm" (submit)="signUp()">
        <div class="form-group">
            
            
            <cjf-shared-vmessage
                *ngIf="signupForm.get('email').errors?.required"
                text="Email is required!">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                *ngIf="signupForm.get('email').errors?.email"
                text="Invalid e-mail">
            </cjf-shared-vmessage>
            <input formControlName="email"  placeholder="email" autofocus>
        </div>
    
        <div class="form-group">
            
            <cjf-shared-vmessage
                *ngIf="signupForm.get('fullName').errors?.required"
                text="Full name is required!">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                *ngIf="signupForm.get('fullName').errors?.minlength"
                text="Minimum length is 2">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                *ngIf="signupForm.get('fullName').errors?.maxlength"
                text="Maximum length is 40">
            </cjf-shared-vmessage>
            <input formControlName="fullName"  placeholder="full name">
        </div>
    
        <div class="form-group">
            
            <cjf-shared-vmessage
                *ngIf="signupForm.get('userName').errors?.required"
                text="Username is required!">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                *ngIf="signupForm.get('userName').errors?.minlength"
                text="Minimum length is 2">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                *ngIf="signupForm.get('userName').errors?.maxlength"
                text="Maximum length is 30">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                *ngIf="signupForm.get('userName').errors?.lowerCase"
                text="Must be lowercase">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                text="Username already taken"
                *ngIf="signupForm.get('userName').errors?.userNameTaken">
            </cjf-shared-vmessage>
            <small *ngIf="signupForm.get('userName').valid" class="text-success">User available</small>
            <input formControlName="userName"  placeholder="user name">
        </div>

        
            
        <div class="form-group">
            
            <cjf-shared-vmessage
                *ngIf="signupForm.get('password').errors?.required"
                text="Password is required!">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                *ngIf="signupForm.get('password').errors?.minlength"
                text="Minimum length is 8">
            </cjf-shared-vmessage>
            <cjf-shared-vmessage
                *ngIf="signupForm.get('password').errors?.maxlength"
                text="Maximum length is 14">
            </cjf-shared-vmessage>
            <input formControlName="password" type="password"  placeholder="password">
        </div>
    
        <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">Register</button>
    
        <!-- <p>Already a user? <a [routerLink]="['']">Sign In!</a></p> -->
        <p class="message">Already registered? <a [routerLink]="['../']">Sign In</a></p>
    </form>